html,body,ul,p,li,h1,h2,h3,h4,h5,h6,a,div,table,td,tr,input{
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color:white;
	font-family: 'PingFang SC';
	font-size: 14px;
	font-weight: 200;
}

 
.main{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
.head{
	width: 100%;
	height: 45px;
	line-height: 45px;
	background: rgba(0,0,0,0.7);
	overflow: hidden;
	transition: 0.35s linear,height 0.35s ease-in 200ms;
	padding: 1.5px 0;
	/*position: fixed;*/
}
.head_fill{
	height: calc(45px *8) !important;
	background: rgba(0,0,0,1);
    
}
.controls{
	width: 200px;
	height: 45px;
	top:-75px;
	left: calc(50% - 100px);
	line-height: 45px;
	position: relative;
	text-align: center;
}
.controls li{
	box-sizing:border-box;
	float: left;
	border: 1px solid #000;
	border-radius: 50%;
	background: red;
	margin:0 10px;
	cursor: pointer;
}
.controls li.active{
	background: transparent;
}
.nav .logo{
	position: relative;
	height: 45px;
	width: 100%;
	background: url(image_small.svg) no-repeat;
	background-position-x: center;
}
.nav .logo .list,.nav .logo .buy{
	transition:1s;
	width: 26px;
	height: 100%;
}
.nav .logo .list{
	float: left;
	position: relative;
	font-size: 30px;
	left: 30px;	
}
.nav .logo .list i{
	border-bottom: 1px solid #FFF;
    float: left;
    height: 10px;
    width: 85%;
    position: relative;
    top: 5px;
    transform:rotate(0deg);
    transform-origin: center;	
    transition:1s;
}
.leftRote{
    transform: rotate(413deg) !important;
    top: 16px !important;
}
.rightRote{
	transform: rotate(-235deg) !important;
    top: 10px !important;
}
.buyTransLater{
	transform: translateX(100px);
}
.nav .logo .buy{
	float: right;
	position: relative;
	display: block;
	right: 30px;
}
.nav{
	height: 45px;
}
.nav ul li{
	height: 100%;
	transform: rotate3d(0, 1, 0, 0deg) scale(1.2,1) rotateX(-45deg);
	transition:all .45s ease-in-out;
	opacity: 0.3;
}
.nav ul li>a{
	font-size: 1.4em;
	border-bottom: 1px solid #eee;
	height: 80%;
	width: 68%;
	margin: auto;
}

